body {
    font-family: 'Roboto', sans-serif;
}

.manipulation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.manipulation__title {
    padding: 0.6rem;
    font-size: 1.1rem;
}

.manipulation__field {
    width: 200px;
    padding: 4px 7px;
    border-radius: 25px;
    border-color: #4ec0e9;
}
.manipulation__field:focus {
    outline: none;
}

.manipulation__button {
    border: none;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 8px;
}

.manipulation__button::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 120%;
    height: 210%;
    background: #4ec0e9;
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
    transition: 0.3s;
  }

  .manipulation__button:hover {
    background: transparent;
  }

  .manipulation__button:hover::before {
    transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
  }

  .manipulation__button:focus {
      outline: none;
  }
  