#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: none;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 5%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999;


}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $base-white;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: $bgc-grey;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 99;
}

.menu__item {
    display: block;
    padding: 15px 30px;
    color: $dark-blue;
    font-size: 1.2rem;
    font-weight: 600;
}

.menu__item:hover {
    background-color: lighten($color: $dark-blue, $amount: 80%);
}

#menu__toggle:checked~.menu__btn {
    position: fixed;
    top: 4%;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: $dark-blue;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: $dark-blue;

}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: $dark-blue;

}

#menu__toggle:checked~.menu__btn:hover {

    >span,
    >span::before,
    >span::after {
        background-color: $text-blue;
    }
}


#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .menu__btn {
        display: flex;
    }
}

@media (max-width: 576px) {}